[submodule "src/px4_ros_com"]
	path = src/px4_ros_com
	url = https://github.com/StanfordMSL/px4_ros_com.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/StanfordMSL/px4_msgs.git
[submodule "src/vrpn_mocap"]
	path = src/vrpn_mocap
	url = https://github.com/StanfordMSL/vrpn_mocap.git
