[Unit]
Description=aether script
Wants=roslaunch_drone.service
After=roslaunch_drone.service

[Service]
ExecStart=/bin/bash /usr/local/bin/aether-2.sh

[Install]
WantedBy=multi-user.target