<launch>
  <!-- VRPN Server -->
  <arg name="server" default="mocap.local"/>

  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg server)
      port: 3883
      update_frequency: 100.0
      frame_id: map
      use_server_time: false
      broadcast_tf: true
      refresh_tracker_frequency: 1.0
    </rosparam>

    <!-- Drone1 Remap -->
    <remap from="/vrpn_client_node/drone1/pose" to="drone1/mavros/vision_pose/pose" />

    <!-- Drone2 Remap -->
    <remap from="/vrpn_client_node/drone2/pose" to="drone2/mavros/vision_pose/pose" />

    <!-- Drone3 Remap -->
    <remap from="/vrpn_client_node/drone3/pose" to="drone3/mavros/vision_pose/pose" />

    <!-- Drone4 Remap -->
    <remap from="/vrpn_client_node/drone4/pose" to="drone4/mavros/vision_pose/pose" />

    <!-- Drone5 Remap -->
    <remap from="/vrpn_client_node/drone5/pose" to="drone5/mavros/vision_pose/pose" />

    <!-- Drone6 Remap -->
    <remap from="/vrpn_client_node/drone6/pose" to="drone6/mavros/vision_pose/pose" />

    <!-- Drone7 Remap -->
    <remap from="/vrpn_client_node/drone7/pose" to="drone7/mavros/vision_pose/pose" />

    <!-- Drone8 Remap -->
    <remap from="/vrpn_client_node/drone7/pose" to="drone7/mavros/vision_pose/pose" />
  
    <!-- GQuad Remap -->
    <remap from="/vrpn_client_node/gquad/pose" to="gquad/mavros/vision_pose/pose" />

    <!-- GTarg Remap -->
    <remap from="/vrpn_client_node/gtarg/pose" to="gtarg/mavros/vision_pose/pose" />

    <!-- Mr Ping -->
    <remap from="/vrpn_client_node/mr_ping/pose" to="mavros/vision_pose/pose" />

  </node>
</launch>
