<launch>
   <arg name="t_final_in" default="7.0" />
   <node pkg="bridge_px4" type="GCS" name ="GCS" output="screen">
         <param name="traj_id" value="$(find bridge_px4)/trajectories/square_grp.csv"/>
         <param name="t_final" value="$(arg t_final_in)" />
   </node>

   <node pkg="bridge_px4" type="visualizer" name ="visualizer" output="screen">
         <param name="n_dr" value="6"/>
         <param name="dt" value="0.1"/>
         <param name="t_hist" value="30.0"/>
   </node>
</launch>
