<launch>
      <!-- Initialize the Onboard Setpoint Transformer -->
      <node pkg="bridge_px4" type="rogue.py" name ="rogue" output="screen">
            <param name="drone_targ" value="drone3"/>
            <param name="x_off" value="0.00"/>
            <param name="y_off" value="0.00"/>
            <param name="z_abs" value="2.00"/>
            <param name="hz" value="100.00"/>
      </node>
</launch>