<?xml version="1.0"?>
<launch>
    <!-- MAVROS configs -->
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
    <arg name="respawn_mavros" default="false"/>
    <!-- MAVROS -->
   <arg name="drone_id" default="drone1"/>
   <group ns="$(arg drone_id)">
        <include file="$(find mavros)/launch/px4.launch">
             <!-- GCS link is provided by SITL -->
             <arg name="gcs_url" value=""/>
             <arg name="fcu_url" value="$(arg fcu_url)"/>
             <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
         </include>
   </group>
</launch>
