<?xml version="1.0" encoding="UTF-8"?>

<launch>

 <node pkg="rosbag" type="record" name="rosbag_record_diag"
       args="record -o carp/ drone6/mavros/vision_pose/pose /drone6/mavros/local_position/pose /drone6/command/pose drone6/command/twist /drone6/setpoint/velocity drone6/trajectory /drone6/obstacleList drone7/mavros/vision_pose/pose /drone7/mavros/local_position/pose /drone7/command/pose drone7/command/twist /drone7/setpoint/velocity drone7/trajectory /drone7/obstacleList"/>   
</launch>
